<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{%url 'display'%}">view both works and lives table</a><br>
    <br>
    <a href="{%url 'worksentry'%}">Enter details of works table</a><br><br>
    <a href="{%url 'livesentry'%}">Enter details of lives table</a><br><br>
    <a href="{%url 'companydisplay'%}">employees of particular company</a><br><br>
</body>
</html>